.idea/
data/
dist/
build/
serene-python-client.egg-info/
__pycache__
config/
dataint/
karma_semantic_typer/eswc-2015-semantic-typing-master
karma_semantic_typer/iswc-2016-semantic-labeling
serene_python_client.egg-info/
