.idea/
.DS_Store
data/
dist/
build/
serene-python-client.egg-info/

__pycache__
*.pyc
.coverage
.ipynb_checkpoints/

out.ssd

data/source_descriptions_copy/
benchmark/
config/
dataint/
serene_python_client.egg-info/
