.idea/
.DS_Store
dist/
build/
serene-python-client.egg-info/

__pycache__
*.pyc
.coverage
.ipynb_checkpoints/

out.ssd

benchmark/
config/
dataint/
serene_python_client.egg-info/

tests/resources/museum_benchmark/data_copy/
tests/resources/museum_benchmark/ssd_copy/
tests/resources/museum_benchmark/dataset/*.csv


stp/resources/test
stp/resources/*.log
stp/ssds/
stp/resources/*.tar.gz
stp/minizinc/chuffed_20170525/
stp/resources/storage/*
stp/resources/museum_stp_benchmark/
stp/paper_aaai/*.bbl
stp/paper_aaai/*.aux
stp/paper_aaai/*.blg
stp/paper_aaai/*.log
stp/paper_aaai/*.gz


df-testing/*

docker/serene-python-client
docker/*.gz
docker/*.tgz
docker/stp
